<?xml version="1.0"?>
<plugins>
  <plugin>
    <type>1</type>
    <name>abcd</name>
    <version>1.2.1</version>
    <unique_id>379850a7ccec76e018556c5e836004a51f191a7a5a8352e094432e0009584194</unique_id>
    <author>Boris Delange</author>
    <image></image>
    <description_fr>### Pr&#xE9;sentation globale

Ce plugin permet d'afficher un flowchart avec les donn&#xE9;es disponibles.

### Exemple

Voici un exemple de son utilisation...

Blabla

### Autre exemple

Blabla</description_fr>
    <description_en></description_en>
  </plugin>
</plugins>
