<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.3.0.9012</app_version>
    <unique_id>fe67edd15f82f335b74905ec1ca6865e379fb271fd996fce4ceae7420338dbd8</unique_id>
    <version>0.0.1.9000</version>
    <author>Boris Delange</author>
    <name_en>Text reader</name_en>
    <name_fr>Lecteur de texte</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <short_description_en></short_description_en>
    <short_description_fr>Permet de visualiser et de filtrer des donn&#xE9;es textuelles (CRH, notes cliniques etc)</short_description_fr>
    <creation_datetime>2024-06-18 09:36:21</creation_datetime>
    <update_datetime>2024-07-21 23:28:59</update_datetime>
    <type>1</type>
  </plugin>
</plugins>
