<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>2</type>
    <unique_id>dbddcb34874bd3e8cfcc287f4dc73f422007d928e591add209329f03c99efa21</unique_id>
    <version>0.0.1.9013</version>
    <author>Boris Delange</author>
    <image>ggplot2.png</image>
    <name_fr>Figure (ggplot2)</name_fr>
    <name_en>Plot (ggplot2)</name_en>
    <category_fr></category_fr>
    <category_en></category_en>
    <description_fr>## &lt;i class="fa fa-info-circle" style="color: steelblue;"&gt;&lt;/i&gt; Description

Ce plugin utilise la librairie R &lt;a href="https://ggplot2.tidyverse.org/" target="_blank"&gt;`ggplot2`&lt;/a&gt;, permettant de cr&#xE9;er des graphiques &#xE0; partir des donn&#xE9;es.

## &lt;i class="fa fa-cogs" style="color: steelblue;"&gt;&lt;/i&gt; Utilisation

&lt;details&gt;
&lt;summary&gt;&lt;span style="--hover-color:#129AFD;cursor:pointer;text-decoration-line:underline;" onmouseover="this.style.color=this.style.getPropertyValue('--hover-color')" onmouseout="this.style.color=''"&gt;
Cliquez ici pour afficher / masquer le contenu&lt;/span&gt;&lt;/summary&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; G&#xE9;rer les scripts

Afin de pouvoir **sauvegarder plusieurs figures** sur un m&#xEA;me widget, vous pouvez **cr&#xE9;er des scripts** depuis l'onglet "G&#xE9;rer les scripts".

Vous pouvez &#xE9;galement **renommer** et **supprimer** des scripts depuis cet onglet.

Un script comprend :

- Les **param&#xE8;tres** enregistr&#xE9;s sur une figure, depuis l'onglet "Figure"
- Le **code** correspond &#xE0; cette figure, depuis l'onglet "Code"

Une fois un **script cr&#xE9;&#xE9;**, **s&#xE9;lectionnez-le** depuis l'onglet "Figure" ou "Code".

**Sauvegardez** ce script une fois des modifications effectu&#xE9;es.

&lt;br /&gt;&lt;img src="%plugin_folder%/scripts_management.png" width="850" style="border:dashed 1px; padding:10px;" /&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Configurer une figure

Rendez-vous dans l'onglet "Figure".

**Choisissez la variable** &#xE0; afficher sur chacun des axes dans l'onglet "Variables".

Certaines figures n'auront une **variable que sur un axe** (geom_histogram), d'autres ne s'afficheront que **si des variables sont renseign&#xE9;es sur les deux axes** (geom_point).

Pour chaque figure, choisissez :

- le **th&#xE8;me** de la figure
- le **texte** de l'axe des **x**
- le **texte** de l'axe des **y** (qu'une variable y soit attribu&#xE9;e ou non)

Dans l'onglet "Variables", il est possible de **grouper les donn&#xE9;es**, par patient ou par moment. Choisissez ensuite la **fonction** &#xE0; appliquer pour grouper les donn&#xE9;es.

Par exemple :

- grouper les donn&#xE9;es par **patient** en choisissant la fonction **"maximum"** : la valeur maximale du param&#xE8;tre, tous s&#xE9;jours confondus, sera retenue pour chaque patient
- grouper les donn&#xE9;es par **4 heures** en choisissant la fonction **"moyenne"** : la valeur maximale sera retenue sur chaque intervalle de 4 heures, pour chaque patient (donc plusieurs donn&#xE9;es par patient)

En cochant "Afficher la figure au lancement du script", la **figure** sera **affich&#xE9;e au chargement au script**.

&lt;br /&gt;&lt;img src="%plugin_folder%/plot_settings.png" width="950" style="border:dashed 1px; padding:10px;" /&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Afficher le code

En cliquant sur "**G&#xE9;n&#xE9;rer le code**" depuis l'onglet "Figure", le **code correspondant &#xE0; la figure** sera **g&#xE9;n&#xE9;r&#xE9;** dans l'&#xE9;diteur de texte, dans l'onglet "Code".

Vous pouvez **modifier ce code**, et **sauvegarder** vos modifications.

Si vous cliquez de nouveau sur **G&#xE9;n&#xE9;rer le code**, votre code sera supprim&#xE9; et remplac&#xE9; par le code par d&#xE9;faut correspondant &#xE0; la figure configur&#xE9;e dans l'onglet "Figure".

Cliquez sur "**Ex&#xE9;cuter**" pour afficher la figure correspond au code.

En cochant "Ex&#xE9;cuter le code au lancement du script", le **code** sera **ex&#xE9;cut&#xE9; au chargement au script**.

&lt;br /&gt;&lt;img src="%plugin_folder%/plot_code.png" width="750" style="border:dashed 1px; padding:10px;" /&gt;

&lt;/details&gt;

## &lt;i class="fa fa-bar-chart" style="color: steelblue;"&gt;&lt;/i&gt; Figures disponibles

&lt;details open&gt;
&lt;summary&gt;&lt;span style="--hover-color:#129AFD;cursor:pointer;text-decoration-line:underline;" onmouseover="this.style.color=this.style.getPropertyValue('--hover-color')" onmouseout="this.style.color=''"&gt;
Cliquez ici pour afficher / masquer le contenu&lt;/span&gt;&lt;/summary&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Histogramme (geom_histogram)

Permet de visualiser la distribution d'une variable continue unique en divisant l'axe des x en intervalles et en comptant le nombre d'observations dans chaque intervalle.

&lt;img src="%plugin_folder%/geom_histogram.png" width="700" /&gt;

Vous pouvez chosir la **taille des barres** selon deux modalit&#xE9;s :

- soit par la **taille** des barres, en fonction de l'axe des x (une taille &#xE0; 50 voudra dire qu'une barre prendra 50 de l'unit&#xE9; renseign&#xE9;e sur l'axe des x)
- soit par le **nombre** de barres totales affich&#xE9;es

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Diagramme de dispersion (geom_point)

Permet de visualiser la distribution de deux variables continues, l'une sur l'axe des x, l'autre sur l'axe des y.

&lt;img src="%plugin_folder%/geom_point.png" width="700" /&gt;

Par d&#xE9;faut, uniquement les points ayant une **valeur &#xE0; un moment donn&#xE9;** &#xE0; la fois pour la **variable en x** et pour la **variable en y** seront affich&#xE9;s.

Par exemple, si je choisis la pression art&#xE9;rielle systolique en x et la pression art&#xE9;rielle moyenne en y (tel que dans l'example),
que j'ai une valeur de x tel jour &#xE0; 18:37:10 et une valeur de y le m&#xEA;me jour &#xE0; 18:37:11, le moment n'&#xE9;tant pas exactement le m&#xEA;me, il n'y aura pas de point correspondant sur la graphique.

Pour contrer cela, il est possible de **grouper les donn&#xE9;es**, par patient ou par moment (cf paragraphe Utilisation).

&lt;/details&gt;</description_fr>
    <description_en>## &lt;i class="fa fa-info-circle" style="color: steelblue;"&gt;&lt;/i&gt; Description

This plugin uses the R library &lt;a href="https://ggplot2.tidyverse.org/" target="_blank"&gt;`ggplot2`&lt;/a&gt;, allowing the creation of plots from data.

## &lt;i class="fa fa-cogs" style="color: steelblue;"&gt;&lt;/i&gt; Usage

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Manage Scripts

&lt;details&gt;
&lt;summary&gt;&lt;span style="--hover-color:#129AFD;cursor:pointer;text-decoration-line:underline;" onmouseover="this.style.color=this.style.getPropertyValue('--hover-color')" onmouseout="this.style.color=''"&gt;
Click here to show / hide content&lt;/span&gt;&lt;/summary&gt;

In order to **save multiple plots** to a single widget, you can **create scripts** from the "Scripts management" tab.

You can also **rename** and **delete** scripts from this tab.

A script includes:

- The **parameters** saved on a plot, from the "Plot" tab.
- The **code** corresponding to that plot, from the "Code" tab.

Once a **script is created**, **select it** from the "Plot" or "Code" tab.

**Save** this script after making changes.

&lt;br /&gt;&lt;img src="%plugin_folder%/scripts_management.png" width="850" style="border:dashed 1px; padding:10px;" /&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Configure a Plot

Go to the "Plot" tab.

**Choose the variable** to display on each axis in the "Variables" tab.

Some plots will have a **variable on only one axis** (geom_histogram), while others will only display **if variables are specified on both axes** (geom_point).

For each plot, choose:

- The **theme** of the plot.
- The **text** for the **x** axis.
- The **text** for the **y** axis (whether a variable is assigned to it or not).

In the "Variables" tab, it's possible to **group data**, by patient or by time. Then choose the **function** to apply to group the data.

For example:

- Group data by **patient** by selecting the **"maximum"** function: the maximum value of the parameter, across all stays, will be chosen for each patient.
- Group data every **4 hours** by selecting the **"average"** function: the maximum value will be chosen for each 4-hour interval, for each patient (thus, multiple data points per patient).

By checking "Show plot at script launch", the **plot** will be **displayed upon the script's loading**.

&lt;br /&gt;&lt;img src="%plugin_folder%/plot_settings.png" width="950" style="border:dashed 1px; padding:10px;" /&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Display the Code

By clicking on "**Generate Code**" from the "Plot" tab, the **code corresponding to the plot** will be **generated** in the text editor, in the "Code" tab.

You can **edit this code** and **save** your changes.

If you click on **Generate Code** again, your code will be deleted and replaced by the default code corresponding to the plot configured in the "Plot" tab.

Click on "**Run code**" to display the plot corresponding to the code.

By checking "Run code at script launch", the **code** will be **executed upon the script's loading**.

&lt;br /&gt;&lt;img src="%plugin_folder%/plot_code.png" width="750" style="border:dashed 1px; padding:10px;" /&gt;

&lt;/details&gt;

## &lt;i class="fa fa-bar-chart" style="color: steelblue;"&gt;&lt;/i&gt; Available Plots

&lt;details open&gt;
&lt;summary&gt;&lt;span style="--hover-color:#129AFD;cursor:pointer;text-decoration-line:underline;" onmouseover="this.style.color=this.style.getPropertyValue('--hover-color')" onmouseout="this.style.color=''"&gt;
Click here to show / hide content&lt;/span&gt;&lt;/summary&gt;

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Histogram (geom_histogram)

Allows visualization of the distribution of a single continuous variable by dividing the x-axis into intervals and counting the number of observations in each interval.

&lt;img src="%plugin_folder%/geom_histogram.png" width="700" /&gt;

You can choose the **size of the bars** in two ways:

- Either by the **size** of the bars, depending on the x-axis (a size of 50 means a bar will take up 50 of the unit specified on the x-axis).
- Or by the **number** of total bars displayed.

### &lt;i class="fa fa-check" style="color: steelblue;"&gt;&lt;/i&gt; Scatter Plot (geom_point)

Allows visualization of the distribution of two continuous variables, one on the x-axis and the other on the y-axis.

&lt;img src="%plugin_folder%/geom_point.png" width="700" /&gt;

By default, only points having a **value at a given moment** both for the **x variable** and for the **y variable** will be displayed.

For instance, if I choose systolic blood pressure for x and mean arterial pressure for y (as in the example), and I have an x value on a certain day at 18:37:10 and a y value on the same day at 18:37:11, since the moments aren't exactly the same, there won't be a corresponding point on the graph.

To counter this, it is possible to **group data**, by patient or by time (see Usage section).

&lt;/details&gt;</description_en>
    <creation_datetime>2023-06-28 22:01:19</creation_datetime>
    <update_datetime>2023-09-20 11:22:18</update_datetime>
    <images>geom_histogram.png;;;geom_point.png;;;ggplot2.png;;;plot_code.png;;;plot_settings.png;;;scripts_management.png</images>
  </plugin>
</plugins>
