<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.3.0.9021</app_version>
    <unique_id>b205c8c15d31cdbb8e160bea4b2a938c5e3157079efc813965212b31b9cc82e2</unique_id>
    <version>0.0.1.9000</version>
    <authors>
      <author>Boris Delange</author>
    </authors>
    <name_en>Development template</name_en>
    <name_fr>Template de d&#xE9;veloppement</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <short_description_en>This plugin is a template used as a basis for the development of plugins.</short_description_en>
    <short_description_fr>Ce plugin est un template servant de base pour le d&#xE9;veloppement de plugins</short_description_fr>
    <creation_datetime>2024-08-28 16:24:47</creation_datetime>
    <update_datetime>2025-01-10 12:11:35</update_datetime>
    <type>12</type>
  </plugin>
</plugins>
