<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>2</type>
    <name>Flowchart</name>
    <version>0.0.1</version>
    <unique_id>46c36774dc3bb220d4e125a32aa9a6ff5cab3d9a7b8e4e2b5c795806ddc1f2cf</unique_id>
    <author>John Doe</author>
    <image></image>
    <description_fr>Empty description</description_fr>
    <description_en></description_en>
  </plugin>
</plugins>
