<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.3.1.9007</app_version>
    <unique_id>04bfcd705217d0002bc9feada4d32d14f330fda4f6cb63ed24dcb81c96f30f6d</unique_id>
    <version>0.0.1.9013</version>
    <name_en>Text reader</name_en>
    <name_fr>Lecteur de texte</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <short_description_en>Allows visualization and filtering of textual data (hospital discharge summaries, clinical notes, etc.)</short_description_en>
    <short_description_fr>Permet de visualiser et de filtrer des donn&#xE9;es textuelles (CRH, notes cliniques etc)</short_description_fr>
    <authors>
      <author>Jane Doe</author>
    </authors>
    <creation_datetime>2025-03-26 19:09:33</creation_datetime>
    <update_datetime>2025-05-18 23:13:17</update_datetime>
    <type>1</type>
  </plugin>
</plugins>
