<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>2</type>
    <unique_id>0ba11bb7459fe45793ae9f7a0ac5e4c2396413da422d986c405c7f9acf9cce82</unique_id>
    <version>0.0.1.9000</version>
    <author>Alan Turing</author>
    <image></image>
    <name_en>Plugin 2</name_en>
    <name_fr>Plugin 2</name_fr>
    <name_it>Plugin 2</name_it>
    <category_en></category_en>
    <category_fr></category_fr>
    <category_it></category_it>
    <description_en></description_en>
    <description_fr></description_fr>
    <description_it></description_it>
    <creation_datetime>2023-10-05 20:12:48</creation_datetime>
    <update_datetime>2023-10-05 20:12:48</update_datetime>
    <images></images>
  </plugin>
</plugins>
