<?xml version="1.0"?>
<plugins>
  <plugin>
    <type>1</type>
    <name>ijkl</name>
    <version>0.2.1</version>
    <unique_id>13c71b40741d65497a74fde2ffecbbc2a9be31dffbfb09f0967b625c500a8592</unique_id>
    <author>Jack Bauer</author>
    <image></image>
    <description_fr>Description fran&#xE7;aise</description_fr>
    <description_en></description_en>
  </plugin>
</plugins>
