<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0.9081</app_version>
    <type>1</type>
    <unique_id>3c64dcfb08b95020e4b06ee78c1ca48158fed7657cf01621e92de2a4be77bf68</unique_id>
    <version>0.0.1.9020</version>
    <author>Boris Delange</author>
    <image>r_console.png</image>
    <name_en>R console</name_en>
    <name_fr>Console R</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en>### &lt;i class="fa fa-info-circle" style="color: steelblue;"&gt;&lt;/i&gt; 1) Description

This plugin allows you to **execute code** in the R console and **save your code as scripts**.

### &lt;i class="fa fa-cogs" style="color: steelblue;"&gt;&lt;/i&gt; 2) Usage

&lt;details&gt;
&lt;summary&gt;&lt;span style="--hover-color:#129AFD;cursor:pointer;text-decoration-line:underline;" onmouseover="this.style.color=this.style.getPropertyValue('--hover-color')" onmouseout="this.style.color=''"&gt;
Click here to show / hide content&lt;/span&gt;&lt;/summary&gt;

### &lt;span style = "margin-left:20px;"&gt; a) Scripts management&lt;/span&gt;

Go to the "Scripts management" tab to **add, delete, or rename scripts**.

A script is a **text file containing code**.

Once a script is created, you can **edit** it in the "Script" tab and **execute the code**.&lt;br /&gt;&lt;br /&gt;

### &lt;span style = "margin-left:20px;"&gt; b) R code&lt;/span&gt;

Write **R code** and execute it: the **result returned by the console** will appear below the text editor.

To know the **data model** used by the application, click on the help button (question mark at the top right of the page) when you are on the "Data / Access Data" page.

Example code (get the min, max, and average heart rate of our patients):

&lt;pre style = "font-size:12px;"&gt;&lt;code&gt;d$measurement %&gt;%
    dplyr::filter(measurement_concept_id == 3027018) %&gt;%
    dplyr::group_by(person_id) %&gt;%
    dplyr::summarize(min_weight = min(value_as_number), max_weight = max(value_as_number), avg_weight = mean(value_as_number)) %&gt;%
    dplyr::ungroup()
&lt;/code&gt;&lt;/pre&gt;

&lt;img src="%plugin_folder%/r_code_1.png" width="900" style="border:dashed 1px; padding:10px;"/&gt;&lt;br /&gt;

&lt;img src="%plugin_folder%/r_code_2.png" width="600" style="margin-left:-7px;"/&gt;&lt;br /&gt;

### &lt;span style = "margin-left:20px;"&gt; c) RMarkdown&lt;/span&gt;

You can also write code in **Rmarkdown**.

This is **Markdown** to which you can add **R code**.

For more information on RMarkdown, &lt;a href="https://rmarkdown.rstudio.com/lesson-2.html" target="_blank"&gt;visit their site&lt;/a&gt;.

Example code (the same example as above, in RMarkdown - a backslash has been added to prevent code execution):

&lt;pre style = "font-size:12px;"&gt;&lt;code&gt;# Script on heart rate

\```{r}
d$measurement %&gt;%
    dplyr::filter(measurement_concept_id == 3027018) %&gt;%
    dplyr::group_by(person_id) %&gt;%
    dplyr::summarize(min_weight = min(value_as_number), max_weight = max(value_as_number), avg_weight = mean(value_as_number)) %&gt;%
    dplyr::ungroup()
\```
&lt;/code&gt;&lt;/pre&gt;


&lt;img src="%plugin_folder%/rmarkdown_1.png" width="900" style="border:dashed 1px; padding:10px;" /&gt;&lt;br /&gt;

&lt;img src="%plugin_folder%/rmarkdown_2.png" width="700" style="border:dashed 1px; padding:10px;" /&gt;&lt;br /&gt;&lt;br /&gt;

### &lt;span style = "margin-left:20px;"&gt; d) Figure&lt;/span&gt;

You can **create figures**, for example with the `ggplot2` library.

Here's an example of code:

&lt;pre style = "font-size:12px;"&gt;&lt;code&gt;# A list containing the data for the plot
data &lt;- list()

# Filter data
data$x &lt;- d$measurement %&gt;% dplyr::filter(measurement_concept_id == 3027018)

# Create ggplot2 plot
data$x %&gt;%
    ggplot2::ggplot(ggplot2::aes(x = value_as_number)) +
    ggplot2::geom_histogram(bins = 50, fill = "#377EB8", color = "#FFFFFF") +
    ggplot2::theme_minimal() +
    ggplot2::labs(x = "Heart rate (bpm)", y = "")
&lt;/code&gt;&lt;/pre&gt;

&lt;img src="%plugin_folder%/r_plot_1.png" width="600" style="border:dashed 1px; padding:10px;" /&gt;&lt;br /&gt;

&lt;img src="%plugin_folder%/r_plot_2.png" width="600" style="border:dashed 1px; padding:10px;" /&gt;
&lt;/details&gt;</description_en>
    <description_fr>### &lt;i class="fa fa-info-circle" style="color: steelblue;"&gt;&lt;/i&gt; 1) Description

Ce plugin vous permet d'**ex&#xE9;cuter du code** dans la console R et de **sauvegarder votre code sous forme de scripts**.

### &lt;i class="fa fa-cogs" style="color: steelblue;"&gt;&lt;/i&gt; 2) Utilisation

&lt;details&gt;
&lt;summary&gt;&lt;span style="--hover-color:#129AFD;cursor:pointer;text-decoration-line:underline;" onmouseover="this.style.color=this.style.getPropertyValue('--hover-color')" onmouseout="this.style.color=''"&gt;
Cliquez ici pour afficher / masquer le contenu&lt;/span&gt;&lt;/summary&gt;

### &lt;span style = "margin-left:20px;"&gt; a) Gestion des scripts&lt;/span&gt;

Allez dans l'onglet "Gestion des scripts" pour **ajouter, supprimer ou renommer des scripts**.

Un script est un **fichier texte contenant du code**.

Une fois un script cr&#xE9;&#xE9;, vous pouvez l'**&#xE9;diter** dans l'onglet "Script" et **ex&#xE9;cuter le code**.&lt;br /&gt;&lt;br /&gt;

### &lt;span style = "margin-left:20px;"&gt; b) Code R&lt;/span&gt;

Ecrivez du **code en R** et ex&#xE9;cutez-le : le **r&#xE9;sultat retourn&#xE9; par la console** appara&#xEE;tra en-dessous de l'&#xE9;diteur de texte.

Pour conna&#xEE;tre le **mod&#xE8;le de donn&#xE9;es** utilis&#xE9; par l'application, cliquez sur le bouton d'aide (point d'interrogation en haut &#xE0; droite de la page) lorsque vous &#xEA;tes sur la page "Donn&#xE9;es / Acc&#xE9;der aux donn&#xE9;es".

Exemple de code (obtenir le min, max et moyenne de la fr&#xE9;quence cardiaque chez nos patients) :

&lt;pre style = "font-size:12px;"&gt;&lt;code&gt;d$measurement %&gt;%
    dplyr::filter(measurement_concept_id == 3027018) %&gt;%
    dplyr::group_by(person_id) %&gt;%
    dplyr::summarize(min_weight = min(value_as_number), max_weight = max(value_as_number), avg_weight = mean(value_as_number)) %&gt;%
    dplyr::ungroup()
&lt;/code&gt;&lt;/pre&gt;

&lt;img src="%plugin_folder%/r_code_1.png" width="900" style="border:dashed 1px; padding:10px;"/&gt;&lt;br /&gt;

&lt;img src="%plugin_folder%/r_code_2.png" width="600" style="margin-left:-7px;"/&gt;&lt;br /&gt;

### &lt;span style = "margin-left:20px;"&gt; c) RMarkdown&lt;/span&gt;

Vous pouvez &#xE9;galement &#xE9;crire du code en **Rmarkdown**.

Il s'agit d'un **Markdown** auquel vous pouvez ajouter du **code R**.

Pour plus d'informations sur RMarkdown, &lt;a href="https://rmarkdown.rstudio.com/lesson-2.html" target="_blank"&gt;rendez-vous sur leur site&lt;/a&gt;.

Exemple de code (le m&#xEA;me exemple que ci-dessus, en RMarkdown - un backslash a &#xE9;t&#xE9; ajout&#xE9; pour &#xE9;viter l'&#xE9;x&#xE9;cution du code) :

&lt;pre style = "font-size:12px;"&gt;&lt;code&gt;# Script on heart rate

\```{r}
d$measurement %&gt;%
    dplyr::filter(measurement_concept_id == 3027018) %&gt;%
    dplyr::group_by(person_id) %&gt;%
    dplyr::summarize(min_weight = min(value_as_number), max_weight = max(value_as_number), avg_weight = mean(value_as_number)) %&gt;%
    dplyr::ungroup()
\```
&lt;/code&gt;&lt;/pre&gt;

&lt;img src="%plugin_folder%/rmarkdown_1.png" width="900" style="border:dashed 1px; padding:10px;" /&gt;&lt;br /&gt;

&lt;img src="%plugin_folder%/rmarkdown_2.png" width="700" style="border:dashed 1px; padding:10px;" /&gt;&lt;br /&gt;&lt;br /&gt;

### &lt;span style = "margin-left:20px;"&gt; d) Figure&lt;/span&gt;

Vous pouvez **cr&#xE9;er des figures**, par exemple avec la librairie `ggplot2`.

Voici un exemple de code :

&lt;pre style = "font-size:12px;"&gt;&lt;code&gt;# A list containing the data for the plot
data &lt;- list()

# Filter data
data$x &lt;- d$measurement %&gt;% dplyr::filter(measurement_concept_id == 3027018)

# Create ggplot2 plot
data$x %&gt;%
    ggplot2::ggplot(ggplot2::aes(x = value_as_number)) +
    ggplot2::geom_histogram(bins = 50, fill = "#377EB8", color = "#FFFFFF") +
    ggplot2::theme_minimal() +
    ggplot2::labs(x = "Heart rate (bpm)", y = "")
&lt;/code&gt;&lt;/pre&gt;

&lt;img src="%plugin_folder%/r_plot_1.png" width="600" style="border:dashed 1px; padding:10px;" /&gt;&lt;br /&gt;

&lt;img src="%plugin_folder%/r_plot_2.png" width="600" style="border:dashed 1px; padding:10px;" /&gt;
&lt;/details&gt;</description_fr>
    <creation_datetime>2023-10-17 16:15:04</creation_datetime>
    <update_datetime>2024-02-09 12:53:16</update_datetime>
    <images>r_code_1.png;;;r_code_2.png;;;r_console.png;;;r_plot_1.png;;;r_plot_2.png;;;rmarkdown_1.png;;;rmarkdown_2.png</images>
  </plugin>
</plugins>
