<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>2</type>
    <unique_id>414d980969826734f8b0e295acf86716b354ad1ef113ad49b5c9cada84f23138</unique_id>
    <version>0.0.1.9001</version>
    <author>Boris Delange</author>
    <image></image>
    <name_en>[dev] Template</name_en>
    <name_fr>[dev] Template</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <creation_datetime>2024-02-15 14:06:49</creation_datetime>
    <update_datetime>2024-02-15 14:48:51</update_datetime>
    <images></images>
  </plugin>
</plugins>
