<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.3.1.9010</app_version>
    <unique_id>2419f5d6196aa95e69518bb96a8ffe49390352b4bee773263cbba34b84364253</unique_id>
    <version>0.0.1.9013</version>
    <name_en>Hospital stays</name_en>
    <name_fr>S&#xE9;jours hospitaliers</name_fr>
    <category_en>NA</category_en>
    <category_fr>NA</category_fr>
    <description_en>NA</description_en>
    <description_fr>NA</description_fr>
    <short_description_en>Displays a patient's hospital stays</short_description_en>
    <short_description_fr>Affiche les diff&#xE9;rents s&#xE9;jours hospitaliers d'un patient</short_description_fr>
    <authors>
      <author>Boris Delange</author>
    </authors>
    <creation_datetime>2024-10-30 08:00:05</creation_datetime>
    <update_datetime>2025-06-02 18:22:26</update_datetime>
    <type>1</type>
  </plugin>
</plugins>
