<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.3.1.9005</app_version>
    <unique_id>73d0449bf010b42fb8b4db36a957bcdf05882b398d459c221a6973049785a471</unique_id>
    <version>0.0.1.9004</version>
    <name_en>Discrete var. timeline</name_en>
    <name_fr>Timeline var. disct&#xE8;res</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <short_description_en>Displays patient procedures in timeline format</short_description_en>
    <short_description_fr>Affiche les actes r&#xE9;alis&#xE9;s sous forme de timeline</short_description_fr>
    <authors>
      <author>Jane Doe</author>
    </authors>
    <creation_datetime>2025-04-02 17:37:51</creation_datetime>
    <update_datetime>2025-04-21 18:31:53</update_datetime>
    <type>1</type>
  </plugin>
</plugins>
