<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.3.0.9019</app_version>
    <unique_id>b3b98d5fbcc1c9e368614fb8e92c9c022f9ce10a59b8fa995dde3047245f063e</unique_id>
    <version>0.0.1.9000</version>
    <author>Jean Cupe, Boris Delange</author>
    <name_en>Prescriptions</name_en>
    <name_fr>Prescriptions</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <short_description_en>Displays medication administrations as a timeline</short_description_en>
    <short_description_fr>Permet d'afficher les administrations m&#xE9;dicamenteuses sous forme de timeline</short_description_fr>
    <creation_datetime>2024-11-13 07:56:14</creation_datetime>
    <update_datetime>2024-11-14 22:02:22</update_datetime>
    <type>1</type>
  </plugin>
</plugins>
