<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>2</type>
    <unique_id>6f3c30ede116bc25978075b6634268214c545173634f3cd81c0d1db6081a45b8</unique_id>
    <version>0.0.1.9002</version>
    <author>Boris Delange</author>
    <image>console_icon.png</image>
    <name_fr>Gestionnaire de scripts</name_fr>
    <name_en>Scripts manager</name_en>
    <category_fr></category_fr>
    <category_en></category_en>
    <description_fr></description_fr>
    <description_en></description_en>
    <creation_datetime>2023-08-07 20:11:14</creation_datetime>
    <update_datetime>2023-08-12 12:13:17</update_datetime>
    <images>console_icon.png</images>
  </plugin>
</plugins>
