<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>2</type>
    <unique_id>82ec93cd98efc243a5b6eeccc32435df3014439ac52bddf48be7dd9cee78984e</unique_id>
    <version>0.0.1.9009</version>
    <author>Boris Delange</author>
    <image>demographics_plugin_image.png</image>
    <name_en>Demographics</name_en>
    <name_fr>Donn&#xE9;es d&#xE9;mographiques</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <creation_datetime>2024-01-08 13:21:15</creation_datetime>
    <update_datetime>2024-01-12 11:11:35</update_datetime>
    <images>demographics_plugin_image.png</images>
  </plugin>
</plugins>
