<?xml version="1.0"?>
<plugins>
  <plugin>
    <app_version>0.2.0</app_version>
    <type>1</type>
    <unique_id>e70816bf13141b8ed016f5480061c55d79cf0b698297a8ba8fae58a0e1807fd2</unique_id>
    <version>0.0.1.9001</version>
    <author>Boris Delange</author>
    <image>dygraphs.png</image>
    <name_en>S&#xE9;ries temporelles {dygraphs}</name_en>
    <name_fr>S&#xE9;ries temporelles {dygraphs}</name_fr>
    <category_en></category_en>
    <category_fr></category_fr>
    <description_en></description_en>
    <description_fr></description_fr>
    <creation_datetime>2023-11-20 22:43:59</creation_datetime>
    <update_datetime>2023-11-20 23:17:45</update_datetime>
    <images>dygraphs.png</images>
  </plugin>
</plugins>
